* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

.button,
.accent {
    font-family: var(--font-accent);
}

.block-editor-iframe__container {
    background: var(--theme-color-black);
}

.container,
.editor-styles-wrapper {
    background: var(--theme-color-black);
    width: 100%;
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.container._tight,
._tight {
    max-width: 76%;
    margin: 0 auto;
}

.container.wp-block-columns {
    border: 1px solid rgba(255, 255, 255, .7);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.container.wp-block-columns:before {
    content: 'container';
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.block-editor-block-list__block.wp-block-spacer {
    position: relative;
    background: rgba(105, 144, 148, .15);
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.block-editor-block-list__block.wp-block-spacer:before {
    content: 'spacer';
    font-size: 10px;
    position: absolute;
    opacity: .5;
    top: 3px;
    left: 3px;
}

.wp-block-column {
    background: rgba(255, 255, 255, .1);
    border-top: 1px dotted rgba(255, 255, 255, .5);
    border-bottom: 1px dotted rgba(255, 255, 255, .5);
    padding: 20px 10px;
}

.editor-visual-editor__post-title-wrapper {
    padding-top: 30px;
}

.wp-block-media-text img {
    width: var(--custom-img-width, auto);
    height: var(--custom-img-height, auto);
    object-fit: cover;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all .5s linear
}

a:hover {
    color: var(--theme-color-accent);
}

ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

p {
    margin: 0;
}

p.wp-block-paragraph {
    margin-bottom: 1em;
}

.wp-block-post-author {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 20px;
    width: 70%;
    margin-right: 0;
    margin-left: auto;
}

.wp-block-post-author__avatar {
    margin-right: 0;
    overflow: hidden;
    border-radius: 100%;
}

.components-editor-notices__dismissible .components-notice,
.components-editor-notices__pinned .components-notice {
    border-bottom: 1px solid #0003;
    box-sizing: border-box;
    min-height: 64px;
    padding: 0 12px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    color: #fff;
}

.components-button.components-notice__action {
    background: var(--theme-color-accent);
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    transition: all .5s linear;
}

:root :where(.editor-styles-wrapper) :where(.wp-element-button, .wp-block-button__link) {
    background: var(--theme-color-accent);
    color: var(--theme-color-black);
    border-radius: 112px;
    transition: all .5s linear;
    padding: 20px 33px;
    font-weight: 600;
    display: block;
}

.components-notice.is-warning {
    border: none;
    border-bottom: 2px solid #f0b849;
}

figure.wp-block-image.size-full img {
    max-width: 100%;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}

.components-button.components-notice__action:hover {
    background: #fff;
    color: var(--theme-color-accent);
    border-color: var(--theme-color-accent)
}

.bradius25 {
    overflow: hidden;
    border-radius: 25px;
}

.bradius20 {
    overflow: hidden;
    border-radius: 20px;
}

.p4 {
    padding: 4em;
}


.gap2 {
    gap: 2em;
}

/*HERO SLIDER*/

.swiper.js-slider.--hero-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.swiper.js-swiper::before {
    content: 'js-slider';
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.wp-block.swiper-slide {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, .7);
}

.wp-block.swiper-slide::before {
    content: 'slider-slide';
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    color: #699094;
    z-index: 5;
}

.swiper.js-swiper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.swiper-slide.hero-slider__slide {
    height: 400px;
    overflow: hidden;
    position: relative;
    background: rgba(105, 144, 148, .3);
}

.swiper-slide.hero-slider__slide figure {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    top: 20px;
    left: 20px;
}

.swiper-slide.hero-slider__slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.swiper-slide.hero-slider__slide>.wp-block-columns {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    z-index: 7;
    border: 5px solid #898989;
    background: rgba(0, 0, 0, .4);

}

.swiper-slide.hero-slider__slide>.wp-block-columns>.wp-block-column {
    background: rgba(0, 0, 0, .3);
}

/*FAQ BLOCK*/

.faq-list {
    display: flex;
    flex-direction: column;
}

/*HERO BLOCK*/
.hero-block__col figure {
    margin: 0;
}

.hero-block__col figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*CATEGORIES BLOCK*/

.wp-block-my-custom-blocks-categories-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/*CATEGORIES BLOCK  */

.four-columns__col {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.four-columns__col__group {
    min-height: 160px;
}

.four-columns__col__group>div {
    height: 100%;
}

.wp-block-group.four-columns__col__group>div div {
    align-items: center;
    height: 100%;
    display: flex;
}